/*
 * @File Name: highlight.styl
 * @Description: 代码高亮样式
 * @Author: yogwang
 * @Date: 2019-10-22 16:54:10
 * @Last Modified by: yogwang
 * @Last Modified time: 2021-05-28 15:11:43
 */
/*
 * 代码高亮
 */
blockquote {
  font-family: inherit;
  background: #f1f1f1;
  padding: 15px;
  border-left: 2px solid #009a61;
}
figure {
  width: 100%;
  background: #f1f1f1;
  padding: 20px 10px;
  border-radius: 5px;
  overflow-y: hidden;
}
figure .line {
  color: #777;
}
figure.js .keyword {
  color: #333;
  font-weight: 600;
}
figure.js .function .keyword {
  color: #0092db;
}
figure.js .title {
  color: #83b917;
}
figure.js .string {
  color: #d14;
}
figure.js .built_in {
  color: #0086b3;
}
figure.js .number {
  color: #ae81ff;
}
figure .comment {
  color: #999;
}
figure .gutter {
  text-align: right;
}
figure .gutter .line {
  color: #999;
}
figure pre {
  margin: 0 5px;
}
code {
  line-height: 20px;
  color: #c7254e;
  word-break: break-word;
  background: #f9f2f4;
  padding: 0 8px;
  border-radius: 2px;
  display: inline-block;
}
