*, :after, :before { box-sizing: border-box }
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body { margin: 0 }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline }
audio:not([controls]) { display: none; height: 0 }
[hidden], script, template { display: none }
a { background-color: transparent; outline: none }
a:focus { outline: thin dotted }
a:active, a:hover { outline: 0 }
a, ins { text-decoration: none }
abbr[title] { border-bottom: 1px dotted }
b, strong { font-weight: 700 }
q { quotes: "\201C" "\201D" "\2018" "\2019" }
small { font-size: 80% }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
sup { top: -.5em }
sub { bottom: -.25em }
img { -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; border: 0; max-width: 100%; display: block;}
svg:not(:root) { overflow: hidden }
figure { margin: 0 }
code, kbd, pre, samp { font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 1em }
fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em }
legend { border: 0; padding: 0 }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0 }
button { overflow: visible }
button, input { line-height: normal }
button, select { text-transform: none }
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer }
input[type=checkbox], input[type=radio] { cursor: pointer; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box }
button[disabled], html input[disabled] { cursor: default }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0 }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { height: auto }
input[type=search] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box }
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none }
textarea { overflow: auto; vertical-align: top; resize: vertical }
optgroup { font-weight: 700 }
table { border-collapse: collapse; border-spacing: 0 }
td, th { padding: 0 }
html { font-size: 10px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0) }
body { position: relative; background: #fff; font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif; font-weight: 400; line-height: 1.6; color: #333; font-size: 1.6rem }
body, button, input, select, textarea { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: "liga", "kern" }
a { color: #0e90d2 }
a:focus, a:hover { color: #095f8a }
a:focus { outline: thin dotted; outline: 1px auto -webkit-focus-ring-color; outline-offset: -2px }
ins { background: #ffa; color: #333 }
mark { background: #ffa; color: #333 }
abbr[title], dfn[title] { cursor: help }
dfn[title] { border-bottom: 1px dotted; font-style: normal }
address, blockquote, dl, fieldset, figure, hr, ol, p, pre, ul { margin: 0 0 1.6rem 0 }
*+address, *+blockquote, *+dl, *+fieldset, *+figure, *+hr, *+ol, *+p, *+pre, *+ul { margin-top: 1.6rem }
h1, h2, h3, h4, h5, h6 { margin: 0 0 1.6rem 0; font-weight: 600; font-size: 100% }
h1 { font-size: 1.5em }
h2 { font-size: 1.25em }
*+h1, *+h2, *+h3, *+h4, *+h5, *+h6 { margin-top: 2em }
ol, ul { padding-left: 2em }
ol>li>ol, ol>li>ul, ul>li>ol, ul>li>ul { margin: 1em 0 }
dt { font-weight: 700 }
dt+dd { margin-top: .5em }
dd { margin-left: 0 }
dd+dt { margin-top: 1em }
hr { display: block; padding: 0; border: 0; height: 0; border-top: 1px solid #eee; -webkit-box-sizing: content-box; box-sizing: content-box }
address { font-style: normal }
blockquote { padding-top: 5px; padding-bottom: 5px; padding-left: 15px; border-left: 4px solid #ddd; font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, serif }
blockquote small { display: block; color: #999; font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif; text-align: right }
blockquote p:last-of-type { margin-bottom: 0 }
iframe { border: 0 }
button, input:not([type=radio]):not([type=checkbox]), select { vertical-align: middle }