<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home</title>
<link rel="icon" type="image/x-icon" href="media/favicon.png" />

<link href="css/master.css" rel="stylesheet">

<!-- SWITCHER -->
<link rel="stylesheet" id="switcher-css" type="text/css" href="assets/switcher/css/switcher.css" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color1.css" title="color1" media="all" data-default-color="true"  />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color2.css" title="color2" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color3.css" title="color3" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color4.css" title="color4" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color5.css" title="color5" media="all" />

<!--[if lt IE 9]>
<script src="/oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="/oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- Loader -->
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end -->

<!-- Start Switcher -->
<div class="switcher-wrapper">	
	<div class="demo_changer">
		<div class="demo-icon customBgColor"><i class="fa fa-cog fa-spin fa-2x"></i></div>
		<div class="form_holder">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="predefined_styles">
						<div class="skin-theme-switcher">
							<h4>Color</h4>
							<a href="#" data-switchcolor="color1" class="styleswitch" style="background-color:#ce0000;"> </a>
							<a href="#" data-switchcolor="color2" class="styleswitch" style="background-color:#4fb0fd;"> </a>
							<a href="#" data-switchcolor="color3" class="styleswitch" style="background-color:#ffc73c;"> </a>							
							<a href="#" data-switchcolor="color4" class="styleswitch" style="background-color:#ff8300;"> </a>
							<a href="#" data-switchcolor="color5" class="styleswitch" style="background-color:#02cc8b;"> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Switcher -->

<header id="header-top" class="top-header">
	<div class="container">
		<div class="top-header__main wow slideInDown" data-wow-delay="0.7s" data-wow-duration="1.5s">
			<div class="row">
				<div class="col-xs-4">
					<div class="social social--top clearfix">
						<a href="#" class="social__one square">
							<span class="fa fa-twitter"></span>
						</a>
						<a href="#" class="social__one square">
							<span class="fa fa-facebook"></span>
						</a>
						<a href="#" class="social__one square">
							<span class="fa fa-google-plus"></span>
						</a>
						<a href="#" class="social__one square">
							<span class="fa fa-pinterest"></span>
						</a>
						<a href="#" class="social__one square">
							<span class="fa fa-instagram"></span>
						</a>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="header-contacts clearfix">
						<div class="header-contacts__one">
							<a href="contacts.html" class="header-contacts__phone square">
								<span class="fa fa-phone"></span>
							</a>
							<a href="contacts.html" class="header-contacts__link">0800 123 4567</a>
						</div>
						<div class="header-contacts__one">
							<a href="contacts.html" class="header-contacts__email square">
								<span class="fa fa-envelope"></span>
							</a>
							<a href="contacts.html" class="header-contacts__link">info@domain.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header><!--top-header-->

<nav class="top-nav">
	<div class="container">
		<div class="top-nav__main">
			<div class="row">
				<div class="col-md-3 col-xs-12">
					<a href="home-main.html" class="logo">
						<h2 class="logo__title">
							BIKER<span>Club</span>
						</h2>
					</a>
				</div>
				<div class="col-md-9 col-xs-12">
					<div class="main-nav navbar-main-slide">
						<a href="#" class="btn_header_search main-nav__search no-decoration">
							<span class="fa fa-search"></span>
						</a>
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<ul class="collapse navbar-collapse navbar-nav-menu" id="nav">
							<li class="dropdown">
								<a class="no-decoration dropdown-toggle" data-toggle="dropdown" href="home-main.html">Home <i class="fa fa-angle-down"></i></a>
								<span class="main-nav__separator"><span></span><span></span><span></span></span>
								<ul class="dropdown-menu">
									<li><a href="home-main.html">Home 1</a></li>
									<li><a href="home.html">Home 2</a></li>
									<li><a href="home2.html">Home 3</a></li>
								</ul>
							</li>
							<li><a class="no-decoration" href="about.html">About us</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
							<li><a class="no-decoration" href="shop.html">Offer</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
							<li><a class="no-decoration" href="article.html">Services</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
							<li><a class="no-decoration" href="item.html">Listings</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
							<li><a class="no-decoration" href="blog.html">Blog</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
							<li><a class="no-decoration" href="contacts.html">Contact</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
							<li><a class="no-decoration" href="shop.html">Shop</a></li>
						</ul>
						<div class="search-form-modal transition">
							<form class="navbar-form header_search_form">
								<i class="fa fa-times search-form_close"></i>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">
								</div>
								<button type="submit" class="btn btn_search customBgColor">Search</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav><!--top-nav-->

<section class="sliders">
	<ul class="sliders__main js-slider-main slider enable-bx-slider" data-auto="true" data-auto-hover="true" data-mode="fade" data-pager="false" data-pager-custom="null" data-prev-selector="null" data-next-selector="null" >
		<li>
			<img src="media/sliders/slider.jpg" class="thbshpxktysplmywflo" alt="bxSlider" />
			<div class="sliders__text">
				<h2>our customers are enjoying</h2>
				<h3>outstanding rides<span class="line line--slider"><span class="line__first"></span><span class="line__second"></span></span></h3>
				<p>Donec ac nisi eget sem ultrices tempus. Phasellus et sem quis
					felis pharetra convallis nulla sem nullam variu.</p>
				<a href="#" class="btn button button--red triangle">LEARN MORE</a>
			</div>
		</li>
		<li>
			<img src="media/sliders/slider3.jpg" alt="bxSlider" />
			<div class="sliders__text">
				<h2>our customers are enjoying</h2>
				<h3>outstanding rides<span class="line line--slider"><span class="line__first"></span><span class="line__second"></span></span></h3>
				<p>Donec ac nisi eget sem ultrices tempus. Phasellus et sem quis
					felis pharetra convallis nulla sem nullam variu.</p>
				<a href="article.html" class="btn button button--red triangle">LEARN MORE</a>
			</div>
		</li>
		<li>
			<img src="media/sliders/slider.jpg" alt="bxSlider" />
			<div class="sliders__text">
				<h2>our customers are enjoying</h2>
				<h3>outstanding rides<span class="line line--slider"><span class="line__first"></span><span class="line__second"></span></span></h3>
				<p>Donec ac nisi eget sem ultrices tempus. Phasellus et sem quis
					felis pharetra convallis nulla sem nullam variu.</p>
				<a href="article.html" class="btn button button--red triangle">LEARN MORE</a>
			</div>
		</li>
		<li>
			<img src="media/sliders/slider4.jpg" alt="bxSlider" />
			<div class="sliders__text">
				<h2>our customers are enjoying</h2>
				<h3>outstanding rides<span class="line line--slider"><span class="line__first"></span><span class="line__second"></span></span></h3>
				<p>Donec ac nisi eget sem ultrices tempus. Phasellus et sem quis
					felis pharetra convallis nulla sem nullam variu.</p>
				<a href="article.html" class="btn button button--red triangle">LEARN MORE</a>
			</div>
		</li>
	</ul>
</section><!--sliders-->

<section class="anons">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 wow zoomInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
				<div class="anons__block triangle triangle--block line-down">
					<div class="anons__img">
						<svg version="1.1" id="svg-icon-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" viewBox="0 0 462.792 462.792" style="enable-background:new 0 0 462.792 462.792;" xml:space="preserve">
							<g>
								<g>
									<path d="M112.893,259.1c28.362,4.584,51.671,6.906,69.276,6.907c0.004,0,0.006,0,0.007,0c21.373,0,29.601-3.364,32.737-6.187
										c0.886-0.795,1.477-1.865,1.679-3.038l9.962-57.646c0.21-1.22-0.014-2.476-0.631-3.549c-1.264-2.193-4.223-7.329-34.466-12.53
										c-18.021-3.099-40.844-5.383-64.265-6.431c-2.101-0.087-4.042,1.052-4.978,2.923c-6.441,12.87-16.791,39.698-13.757,74.775
										C108.667,256.747,110.495,258.713,112.893,259.1z">
									<path d="M448.068,271.461c5.13-20.027,46.247-191.09-36.521-222.229c-32.525-11.736-69.728-17.687-110.57-17.687
										c-76.192,0-152.922,20.852-203.873,38.345C41.98,88.816,4.186,108.053,3.81,108.245c-2.518,1.288-4.012,3.966-3.788,6.784
										c0.224,2.819,2.121,5.228,4.811,6.104l99.698,32.464c0.603,0.196,1.229,0.31,1.863,0.337
										c77.142,3.354,132.381,13.574,144.16,26.672c2.132,2.372,3.128,4.927,2.964,7.597l-0.059,0.465l-14.412,83.431
										c-0.027,0.166-0.052,0.334-0.067,0.5c-0.107,1.086-0.679,3.258-3.293,5.603c-4.915,4.407-17.377,9.663-48.85,9.663
										c-24.93,0-58.25-3.344-99.035-9.938c-3.078-0.495-6.118,1.103-7.448,3.925L48.552,349.3c-0.508,1.075-0.732,2.263-0.653,3.449
										c0.287,4.321,5.952,40.587,9.938,50.083c0.567,1.352,1.545,2.49,2.795,3.258l39.337,24.125c1.114,0.684,2.383,1.031,3.66,1.031
										c0.794,0,1.592-0.135,2.358-0.408l343.757-123.035c3.312-1.186,5.229-4.644,4.48-8.08L448.068,271.461z">
								</g>
							</g>
						</svg>
					</div>
					<h2><a href="shop.html" class="title no-decoration"><span class="title__bold">Biker</span>Shop</a></h2>
					<p class="text">Nunc molestie sapien tempor placerat</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 wow zoomInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
				<div class="anons__block anons__block--center triangle triangle--block-center">
					<div class="anons__photo"><img class="img-responsive" src="media/370x180/news.jpg" alt="news"></div>
					<div class="anons__color-block">
						<h2><a href="blog.html" class="title no-decoration"><span class="title__bold">Biker</span>News</a></h2>
						<p class="text">Nunc molestie sapien tempor placerat</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 wow zoomInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
				<div class="anons__block triangle triangle--block line-down">
					<div class="anons__img anons__img--bike">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" viewBox="0 0 486.293 486.292" style="enable-background:new 0 0 486.293 486.292;" xml:space="preserve">
							<g>
								<g>
									<path d="M80.128,219.934C35.874,219.934,0,255.809,0,300.063s35.875,80.129,80.128,80.129c44.255,0,80.13-35.875,80.13-80.129
										S124.383,219.934,80.128,219.934z M80.128,344.58c-24.546,0-44.516-19.97-44.516-44.517s19.97-44.517,44.516-44.517
										c24.547,0,44.517,19.97,44.517,44.517S104.675,344.58,80.128,344.58z">
									<path d="M406.162,219.934c-9.043,0-17.725,1.52-25.834,4.281l-22.039-34.332c4.744-3.493,9.6-6.639,14.439-9.18v-39.416
										l-35.395,15.954l-32.83-51.138l-64.153-0.002l-11.788,9.813l53.814,17.525l24.184,37.672l-63.847,29.902l-62.425-41.176
										L80.128,143.885v25.598l73.591,56.386l45.561,94.606h88.359l22.822-82.911c0,0,9.184-11.88,22.484-25.354l18.709,29.142
										c-15.754,14.631-25.621,35.514-25.621,58.711c0,44.254,35.875,80.129,80.129,80.129c44.256,0,80.131-35.875,80.131-80.129
										S450.418,219.934,406.162,219.934z M406.162,344.58c-24.545,0-44.516-19.97-44.516-44.517c0-10.533,3.684-20.217,9.822-27.847
										l23.666,36.863l28.096-18.035l-22.562-35.147c1.803-0.224,3.633-0.351,5.494-0.351c24.547,0,44.518,19.97,44.518,44.517
										S430.709,344.58,406.162,344.58z">
								</g>
							</g>
						</svg>
					</div>
					<h2><a href="#" class="title no-decoration"><span class="title__bold">Biker</span>Types</a></h2>
					<p class="text">Nunc molestie sapien tempor placerat</p>
				</div>
			</div>
		</div>
	</div>
</section><!--anons-->

<section class="we-are ">
	<div class="container">
		<h2 class="title title--main wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">We Are The<span class="title__bold">Biker</span>Club<span class="line line--title"><span class="line__first"></span><span class="line__second"></span></span></h2>
		<p class="text text--anons wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Nullam ac velit. Fusce consequat ipsum non ipsum. Nam ullamcorper ipsum quis erat. Aliquam non elit. In vitae dui sagittis cursus. Duis convallis rutrum mauris. Maecenas eu neque lacinia.</p>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="we-are__img wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s"><img class="img-responsive"  src="media/570x325/moto.jpg" alt="moto"></div>
				<div class="we-are__block triangle triangle--big wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="2.5s">
					<h3 class="title title--block"><span class="title__bold">TOPCLASS</span>Performance</h3>
					<p class="text">Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam.</p>
					<a href="article.html" class="btn button button--red button--main">Read More</a>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="we-are__block triangle triangle--big wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
					<h3 class="title title--block"><span class="title__bold">Building</span>YourBrand</h3>
					<p class="text">Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam.</p>
					<a href="article.html" class="btn button button--red button--main">Read More</a>
				</div>
				<div class="we-are__img wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="2.5s"><img class="img-responsive"  src="media/570x325/moto2.jpg" alt="moto"></div>
			</div>
		</div>
	</div>
</section><!--we-are-->

<div class="numbers">
	<div class="container">
		<div class="clearfix percent-blocks" data-waypoint-scroll="true">
			<div class="numbers__one">
				<header class="numbers__head">
					<span class="fa fa-building"></span>
					<div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
				</header>
				<div class="numbers__body chart" data-percent="25">
					<div class="numbers__num percent">25</div>
					<div class="number__desc">CitiesNetwork</div>
				</div>
			</div>
			<div class="numbers__one">
				<header class="numbers__head">
					<span class="fa fa-motorcycle"></span>
					<div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
				</header>
				<div class="numbers__body chart" data-percent="5000">
					<div class="numbers__num percent">5000</div>
					<div class="number__desc">ClubMembers</div>
				</div>
			</div>
			<div class="numbers__one">
				<header class="numbers__head">
					<span class="fa fa-cog"></span>
					<div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
				</header>
				<div class="numbers__body chart" data-percent="1258">
					<div class="numbers__num percent">1258</div>
					<div class="number__desc">ServicesDone</div>
				</div>
			</div>
			<div class="numbers__one">
				<header class="numbers__head">
					<span class="fa fa-tachometer"></span>
					<div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
				</header>
				<div class="numbers__body chart" data-percent="6000">
					<div class="numbers__num percent">6000</div>
					<div class="number__desc">MilesDriven</div>
				</div>
			</div>
			<div class="numbers__one">
				<header class="numbers__head">
					<span class="fa fa-road"></span>
					<div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
				</header>
				<div class="numbers__body chart" data-percent="10000">
					<div class="numbers__num percent">10000</div>
					<div class="number__desc">TestRides</div>
				</div>
			</div>
		</div>
	</div>
</div><!--numbers-->

<section class="offers dark-bg">
	<div class="container">
		<h2 class="title title--main"><span class="title__bold">BIKER<span>Club</span></span>Offers<span class="line line--small"><span class="line__first"></span><span class="line__second"></span></span></h2>
		<div id="carousel-small" class="owl-carousel enable-owl-carousel" data-auto-play="5000" data-stop-on-hover="true" data-items="2" data-pagination="true" data-navigation="false" data-items-desktop="2" data-items-desktop-small="2" data-items-tablet="1" data-items-tablet-small="1" >
			<div class="item wow slideInDown" data-wow-delay="0.7s" data-wow-duration="1.5s">
				<div class="offer">
					<div class="row row--no-padding">
						<div class="col-xs-6">
							<div class="offer__img">
								<img class="img-responsive" src="media/270x270/offer1.jpg" alt="bike">
							</div>
						</div>
						<div class="col-xs-6">
							<div class="offer__info">
								<h4 class="title"><span class="title__bold"><span>Accident</span></span>Repairs</h4>
								<div class="offer__price">Starts From Only <span>$45.50</span></div>
								<ul class="list">
									<li><span class="list__circle"><span class="fa fa-check"></span></span>Nunc molestie sapien temp</li>
									<li><span class="list__circle"><span class="fa fa-check"></span></span>Placerat Nunc placerat </li>
								</ul>
								<a href="item.html" class="btn button button--main button--red pull-right">GET OFFER</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item wow slideInDown" data-wow-delay="0.7s" data-wow-duration="1.5s">
				<div class="offer">
					<div class="row row--no-padding">
						<div class="col-xs-6">
							<div class="offer__img">
								<img class="img-responsive" src="media/270x270/offer2.jpg" alt="bike">
							</div>
						</div>
						<div class="col-xs-6">
							<div class="offer__info">
								<h4 class="title"><span class="title__bold"><span>Engine</span></span>Tune-up</h4>
								<div class="offer__price">Get upto <span>$45.50</span> Discount</div>
								<ul class="list">
									<li><span class="list__circle"><span class="fa fa-check"></span></span>Nunc molestie sapien temp</li>
									<li><span class="list__circle"><span class="fa fa-check"></span></span>Placerat Nunc placerat </li>
								</ul>
								<a href="item.html" class="btn button button--main button--red pull-right">GET OFFER</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item wow slideInDown" data-wow-delay="0.7s" data-wow-duration="1.5s">
				<div class="offer">
					<div class="row row--no-padding">
						<div class="col-xs-6">
							<div class="offer__img">
								<img class="img-responsive" src="media/270x270/offer1.jpg" alt="bike">
							</div>
						</div>
						<div class="col-xs-6">
							<div class="offer__info">
								<h4 class="title"><span class="title__bold"><span>Accident</span></span>Repairs</h4>
								<div class="offer__price">Starts From Only <span>$45.50</span></div>
								<ul class="list">
									<li><span class="list__circle"><span class="fa fa-check"></span></span>Nunc molestie sapien temp</li>
									<li><span class="list__circle"><span class="fa fa-check"></span></span>Placerat Nunc placerat </li>
								</ul>
								<a href="item.html" class="btn button button--main button--red pull-right">GET OFFER</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item wow slideInDown" data-wow-delay="0.7s" data-wow-duration="1.5s">
				<div class="offer">
					<div class="row row--no-padding">
						<div class="col-xs-6">
							<div class="offer__img">
								<img class="img-responsive" src="media/270x270/offer2.jpg" alt="bike">
							</div>
						</div>
						<div class="col-xs-6">
							<div class="offer__info">
								<h4 class="title"><span class="title__bold"><span>Engine</span></span>Tune-up</h4>
								<div class="offer__price">Get upto <span>$45.50</span> Discount</div>
								<ul class="list">
									<li><span class="list__circle"><span class="fa fa-check"></span></span>Nunc molestie sapien temp</li>
									<li><span class="list__circle"><span class="fa fa-check"></span></span>Placerat Nunc placerat </li>
								</ul>
								<a href="item.html" class="btn button button--main button--red pull-right">GET OFFER</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!--offers-->

<section class="services">
	<div class="container">
		<div class="after services__main">
			<h2 class="title title--main wow zoomInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"><span class="title__bold">Biker</span>ClubServices<span class="line line--title"><span class="line__first"></span><span class="line__second"></span></span></h2>
			<p class="text text--anons wow zoomInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Nullam ac velit. Fusce consequat ipsum non ipsum. Nam ullamcorper ipsum quis erat. Aliquam non elit. In vitae dui sagittis cursus. Duis convallis rutrum mauris. Maecenas eu neque lacinia.</p>
			<div class="row">
				<div class="col-sm-7 col-xs-12 wow zoomInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
					<div class="services__img">
						<img class="img-responsive" src="media/motorcycles/moto-red.png" alt="bike" />
					</div>
				</div>
				<div class="col-sm-5 col-xs-12 wow zoomInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
					<div class="services__info">
						<div class="services__info-block">
							<h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#">Motorcycle Inspection</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
							<div class="services__text triangle triangle--services">
								Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
							</div>
						</div>
						<div class="services__info-block">
							<h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#">Finance And Insurance</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
							<div class="services__text triangle triangle--services">
								Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
							</div>
						</div>
						<div class="services__info-block">
							<h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#">Ready For the Racing</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
							<div class="services__text triangle triangle--services">
								Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
							</div>
						</div>
						<div class="services__info-block">
							<h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#">Tyre And Oil Change</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
							<div class="services__text triangle triangle--services">
								Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
							</div>
						</div>
						<div class="services__info-block">
							<h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#">Parts Replacement</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
							<div class="services__text triangle triangle--services">
								Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
							</div>
						</div>
						<div class="services__info-block">
							<h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#"> Accident Repairs And Quotes</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
							<div class="services__text triangle triangle--services">
								Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!--services-->

<div class="reviews">
	<div class="container">
		<ul class="reviews-slider enable-bx-slider" data-auto="true" data-auto-hover="true" data-mode="horizontal" data-pager="false" data-pager-custom="null" data-prev-selector="null" data-next-selector="null">
			<li>
				<div class="review wow slideInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
					<div class="row row--no-padding">
						<div class="col-xs-3">
							<div class="review__img">
								<div class="review__quote triangle triangle--services">
									<span class="fa-quote-left fa"></span>
								</div>
								<img class="img-responsive" src="media/250x200/review-bike.jpg" alt='bike'>
							</div>
						</div>
						<div class="col-xs-9">
							<div class="review__text">
								<div class="review__main-text">
									Proin blandit quam molestie luctus vehicula orci massa interdum justo nec rutrum risus augue ut nisl  ultric lacu at  Etiam eleifend nisl nec lectus. Maecenas sit amet mi. Donec erat. Fusce quis nisl ac sapien tristique dapibus. Donec rhoncus  Nulla sem nisi fermen 
									<div class="line line--small"><div class="line__first"></div><div class="line__second"></div></div>
								</div>
								<div class="review__author">Martin Hasman<span>Owner Ducati S600VX</span></div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="review wow slideInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
					<div class="row row--no-padding">
						<div class="col-xs-3">
							<div class="review__img">
								<div class="review__quote triangle triangle--services">
									<span class="fa-quote-left fa"></span>
								</div>
								<img class="img-responsive" src="media/250x200/review-bike.jpg" alt='bike'>
							</div>
						</div>
						<div class="col-xs-9">
							<div class="review__text">
								<div class="review__main-text">
									Proin blandit quam molestie luctus vehicula orci massa interdum justo nec rutrum risus augue ut nisl  ultric lacu at  Etiam eleifend nisl nec lectus. Maecenas sit amet mi. Donec erat. Fusce quis nisl ac sapien tristique dapibus. Donec rhoncus  Nulla sem nisi fermen 
									<div class="line line--small"><div class="line__first"></div><div class="line__second"></div></div>
								</div>
								<div class="review__author">Martin Hasman<span>Owner Ducati S600VX</span></div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div><!--reviews-->

<section class="featured dark-bg">
	<div class="container">
		<h2 class="title title--main wow slideInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"><span class="title__bold">BIKER</span>ClubFeatured<span class="line line--small"><span class="line__second"></span><span class="line__first"></span></span></h2>
		<ul class="js-featured-slider enable-bx-slider" data-auto="false" data-auto-hover="true" data-mode="vertical" data-pager="false" data-pager-custom="null" data-prev-selector=".featured .technical" data-next-selector=".featured .technical">
			<li>
				<div class="row">
					<div class="col-xs-5 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="featured__images">
							<a href="#"><img src="media/470x270/bmw.jpg" alt="bmw" class="img-responsive"></a>
							<div class="video">
								<img src="media/470x270/bmw.jpg" alt="bmw" class="img-responsive">
							</div>
						</div>
					</div>
					<div class="col-xs-7 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="featured__info">
							<h4><a href="#" class="no-decoration"><span>1190</span> RC8 R</a></h4>
							<p class="text">Nullam ac velit. Fusce consequat ipsum non ipsum. Nam ullamcorper ipsum quis erat. Aliquam non elit. In vitae dui in dui sagittis cursus.  Sed pede.In vitae sapien. Integer tempus dolor a diam. Vivamus faucibus. </p>
							<div class="technical">
								<h5>Technical Specifications:</h5>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Design</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">2-cylinder 4-stroke Otto motor, 75&deg; V arrangement, water-cooled</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Displacement</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">1,195 cm&sup3; (72.92 cu in)</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Bore</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">105 mm (4.13 in)</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Stroke</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">69 mm (2.72 in)</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Performance</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">132 kW (177 hp)</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Cold Start Device</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">Electric starter</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col-xs-5 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="featured__images">
							<a href="#"><img src="media/470x270/bmw.jpg" alt="bmw" class="img-responsive"></a>
							<div class="video">
								<img src="media/470x270/bmw.jpg" alt="bmw" class="img-responsive">
							</div>
						</div>
					</div>
					<div class="col-xs-7 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="featured__info">
							<h4><a href="#" class="no-decoration"><span>1190</span> RC8 R</a></h4>
							<p class="text">Nullam ac velit. Fusce consequat ipsum non ipsum. Nam ullamcorper ipsum quis erat. Aliquam non elit. In vitae dui in dui sagittis cursus.  Sed pede.In vitae sapien. Integer tempus dolor a diam. Vivamus faucibus. </p>
							<div class="technical">
								<h5>Technical Specifications:</h5>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Design</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">2-cylinder 4-stroke Otto motor, 75&deg; V arrangement, water-cooled</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Displacement</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">1,195 cm&sup3; (72.92 cu in)</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Bore</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">105 mm (4.13 in)</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Stroke</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">69 mm (2.72 in)</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Performance</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">132 kW (177 hp)</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<h6 class="technical__title">Cold Start Device</h6>
									</div>
									<div class="col-xs-8">
										<p class="technical__val">Electric starter</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section><!--featured-->

<section class="listings">
	<div class="container">
		<header class="tab-header clearfix wow slideInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
			<h2 class="title title--main pull-left"><span class="title__bold">Biker</span>ClubListings<span class="line line--title"><span class="line__first"></span><span class="line__second"></span></span></h2>
			<div class="tab-toggles pull-right js-isotope-btns">
				<a href="#" class="button button--grey button--main btn js-isotope-btn" data-sort-by="name">BY TYPE</a>
				<a href="#" class="button button--grey button--main btn button--active js-isotope-btn" data-sort-by='original-order'>BY NEWEST</a>
			</div>
		</header>
		<p class="text text--anons wow slideInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">Nullam ac velit. Fusce consequat ipsum non ipsum. Nam ullamcorper ipsum quis erat. Aliquam non elit. In vitae dui sagittis cursus. Duis convallis rutrum mauris. Maecenas eu neque lacinia.</p>
		<div class="row isotope">
			<div class="col-md-3 col-xs-6 isotope-item wow zoomInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
				<a href="shop.html" class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration">
					<div class="listing-anons__img">
						<img src="media/270x230/listing1.jpg" class="img-responsive" alt="bike" />
					</div>
					<div class="listing-anons__title">
						<h4 class="name">DIRT BIKE MOTORCYCLES</h4>
					</div>
					<div class="listing-anons__hidden">
						<h3>DIRT BIKE MOTORCYCLES</h3>
						<p>Nunc molestie sapien temporplace</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-xs-6 isotope-item wow zoomInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
				<a href="shop.html" class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration">
					<div class="listing-anons__img">
						<img src="media/270x230/listing3.jpg" class="img-responsive" alt="bike" />
					</div>
					<div class="listing-anons__title">
						<h4 class="name">SPORTBIKE MOTORCYCLES</h4>
					</div>
					<div class="listing-anons__hidden">
						<h3>SPORTBIKE MOTORCYCLES</h3>
						<p>Nunc molestie sapien temporplace</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-xs-6 isotope-item wow zoomInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
				<a href="shop.html" class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration">
					<div class="listing-anons__img">
						<img src="media/270x230/listing4.jpg" class="img-responsive" alt="bike" />
					</div>
					<div class="listing-anons__title">
						<h4 class="name">CRUISER BIKES</h4>
					</div>
					<div class="listing-anons__hidden">
						<h3>CRUISER BIKES</h3>
						<p>Nunc molestie sapien temporplace</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-xs-6 isotope-item wow zoomInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
				<a href="shop.html" class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration">
					<div class="listing-anons__img">
						<img src="media/270x230/listing2.jpg" class="img-responsive" alt="bike" />
					</div>
					<div class="listing-anons__title">
						<h4 class="name">MINI &amp; POCKET BIKES</h4>
					</div>
					<div class="listing-anons__hidden">
						<h3>MINI &amp; POCKET BIKES</h3>
						<p>Nunc molestie sapien temporplace</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section><!--listings-->

<section class="blog">
	<div class="container-fluid no-padding">
		<div class="row row--no-padding">
			<div class="col-lg-4 col-xs-12 wow zoomInLeft" data-wow-delay="0.7s" data-wow-duration="1s">
				<div class="blog__info">
					<h2 class="title title--main"><span class="title__bold">BIKER</span>ClubBlog<span class="line line--small"><span class="line__second"></span><span class="line__first"></span></span></h2>
					<p class="text">Nullam ac velit. Fusce consequat ipsum non ipsum. Nam ullamcorper ipsum quis erat am non sed ipsum elit.</p>
					<a href="blog.html" class="button btn button--main button--red">VISIT BLOG</a>
				</div>
			</div>
			<div class="col-lg-8 col-xs-12">
				<div class="row row--no-padding">
					<div class="col-sm-6 col-xs-12 wow zoomInDown" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<a href="article.html" class="blog-anons no-decoration">
							<div class="blog-anons__img">
								<img src="media/575x250/blog-anons1.jpg" class="img-responsive" alt="bike" />
							</div>
							<div class="blog-anons__hidden triangle triangle--bigger">
								<div class="blog-anons__text">
									<h3>AUGUE DUI CONVALLIS VAMUS</h3>
									<div class="blog-anons__info">
										<span><span class="fa fa-calendar-o"></span>MAR 23, 2015</span>
										<span><span class="fa fa-comment-o"></span>20</span>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xs-12 wow zoomInUp" data-wow-delay="0.7s" data-wow-duration="2s">
						<a href="article.html" class="blog-anons no-decoration">
							<div class="blog-anons__img">
								<img src="media/575x250/blog-anons3.jpg" class="img-responsive" alt="bike" />
							</div>
							<div class="blog-anons__hidden triangle triangle--bigger">
								<div class="blog-anons__text">
									<h3>AUGUE DUI CONVALLIS VAMUS</h3>
									<div class="blog-anons__info">
										<span><span class="fa fa-calendar-o"></span>MAR 23, 2015</span>
										<span><span class="fa fa-comment-o"></span>20</span>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xs-12 wow zoomInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<a href="article.html" class="blog-anons no-decoration">
							<div class="blog-anons__img">
								<img src="media/575x250/blog-anons2.jpg" class="img-responsive" alt="bike" />
							</div>
							<div class="blog-anons__hidden triangle triangle--bigger">
								<div class="blog-anons__text">
									<h3>AUGUE DUI CONVALLIS VAMUS</h3>
									<div class="blog-anons__info">
										<span><span class="fa fa-calendar-o"></span>MAR 23, 2015</span>
										<span><span class="fa fa-comment-o"></span>20</span>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xs-12 wow zoomInUp" data-wow-delay="0.7s" data-wow-duration="2s">
						<a href="article.html" class="blog-anons no-decoration">
							<div class="blog-anons__img">
								<img src="media/575x250/blog-anons4.jpg" class="img-responsive" alt="bike" />
							</div>
							<div class="blog-anons__hidden triangle triangle--bigger">
								<div class="blog-anons__text">
									<h3>AUGUE DUI CONVALLIS VAMUS</h3>
									<div class="blog-anons__info">
										<span><span class="fa fa-calendar-o"></span>MAR 23, 2015</span>
										<span><span class="fa fa-comment-o"></span>20</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!--blog-->

<section class="partners">
	<div class="container wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
		<h2 class="title title--main"><span class="title__bold">Biker</span>Club'sTrustedPartners<span class="line line--title line--center"><span class="line__first"></span><span class="line__second"></span></span></h2>
		<p class="text--small">Nullam ac velit. Fusce consequat ipsum non ipsum. Nam ullamcorper ipsum quis erat. Aliquam non elit vitae
			dui sagittis cursus. Duis convallis rutrum mauris. Maecenas eu neque lacinia.</p>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<div class="brand">
					<img src="media/logos/luxe.png" alt="brand" />
				</div>
				<div class="brand">
					<img src="media/logos/wuezon.png" alt="brand" />
				</div>
				<div class="brand">
					<img src="media/logos/motox.png" alt="brand" />
				</div>
				<div class="brand">
					<img src="media/logos/dna.png" alt="brand" />
				</div>
				<div class="brand">
					<img src="media/logos/mint.png" alt="brand" />
				</div>
			</div>
		</div>
	</div>
</section><!--partners-->

<section class="signup">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
			<div class="col-lg-5 col-md-6 col-xs-12">
				<div class="signup__desc">
					<h2 class="title title--main"><span class="fa fa-envelope-o"></span><span class="title__bold">SIGNUP</span>ForNewsletter</h2>
					<p class="text--small">Subscribe to our weekly newsletter to get notified and stay updated with latest Bikes news and sporting </p>
				</div>
			</div>
			<div class="col-lg-7 col-md-6 col-xs-12">
				<form action="" method="post" class="sign-form">
					<div class="relative-pos"><div class="input-triangle"></div><input class="sign-input" type="text" name="sign" placeholder="Enter your email address" /></div>
					<button type="submit" class="btn button button--red button--sign triangle triangle--12">SUBSCRIBE</button>
				</form>
			</div>
		</div>
	</div>
</section><!--signup-->

<section class="link">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-xs-12">
				<div class="row">
					<div class="col-xs-4 wow zoomInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="link__phone">
							<div class="link__square triangle triangle--12">
								<span class="fa fa-mobile"></span>
							</div>
							<h3>PHONE</h3>
							<p>(100) 987 6540 <br />0800 123 4567</p>
						</div>
					</div>
					<div class="col-xs-4 wow zoomInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="link__phone">
							<div class="link__square triangle triangle--12">
								<span class="fa fa-map-marker"></span>
							</div>
							<h3>ADDRESS</h3>
							<p>3638 Ground Avenue, Hill Station,<br/>Hollywood CA 00765</p>
						</div>
					</div>
					<div class="col-xs-4 wow zoomInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="link__phone">
							<div class="link__square triangle triangle--12">
								<span class="fa fa-envelope-o"></span>
							</div>
							<h3>EMAIL</h3>
							<p>sales@bikerclub.com <br/>info@domain.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!--link-->

<footer class='map-footer'>
	<div class="footer-contacts">
		<div class="container">
			<div class="row">
				<div class="col-xs-7 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
					<div class="map">
						<script type="text/javascript" charset="utf-8" src=""></script>
					</div>
				</div>
				<div class="col-xs-5 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
					<form action="" method="post" class="quick-form">
						<h2 class="title"><span class="title__bold">Quick</span>Contact</h2>
						<div class="quick-input">
							<input type="text" name="text" placeholder="Full Name" />
							<div class="triangle-quick-input"></div>
						</div>
						<div class="quick-input">
							<input type="text" name="phone" placeholder="Phone#" />
							<div class="triangle-quick-input"></div>
						</div>
						<div class="quick-input">
							<textarea placeholder="Message" name="mess"></textarea>
							<div class="triangle-quick-input"></div>
						</div>
						<button type="submit" class="btn button button--red button--main">SEND MESSAGE</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-7">
					<div class="copyright wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<p>Copyright &copy; 2016.Company name All rights reserved.</p>
					</div>
				</div>
				<div class="col-xs-5">
					<div class="social social--footer pull-right clearfix wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<a href="#" class="social__one square">
							<span class="fa fa-twitter"></span>
						</a>
						<a href="#" class="social__one square">
							<span class="fa fa-facebook"></span>
						</a>
						<a href="#" class="social__one square">
							<span class="fa fa-google-plus"></span>
						</a>
						<a href="#" class="social__one square">
							<span class="fa fa-pinterest"></span>
						</a>
						<a href="#" class="social__one square">
							<span class="fa fa-instagram"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a id="to-top" href="#header-top"><i class="fa fa-chevron-up"></i></a>
</footer><!--map-footer-->
<!--Main-->   
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--Counter-->
<script src="assets/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.easypiechart.min.js"></script>
<script src="js/classie.js"></script>
<!--Switcher-->
<script src="assets/switcher/js/switcher.js"></script>		
<!--Owl Carousel-->
<script src="assets/owl-carousel/owl.carousel.min.js"></script>		
<!--bxSlider-->
<script src="assets/bxslider/jquery.bxslider.min.js"></script>		
<!-- jQuery UI Slider -->
<script src="assets/slider/jquery.ui-slider.js"></script>		
<!--Isotope-->
<script src="assets/isotope/isotope.js"></script>
<!--Slider-->
<script src="assets/slider/jquery.ui-slider.js"></script>		
<!--Fancybox-->
<script src="assets/fancybox/jquery.fancybox.pack.js"></script>
<!--Theme-->
<script src="js/jquery.smooth-scroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="js/theme.js"></script>
</body>
</html>
