/*
 * @File Name: variables.styl
 * @Description: 主题变量配置表
 * @Author: yogwang
 * @Date: 2019-09-29 23:42:26
 * @Last Modified by: yogwang
 * @Last Modified time: 2019-09-30 18:42:58
 */
$header = 100px
$bg-pink = #eda4ad
$bg-linear = linear-gradient(to right, #eec6c7, #cfbeed)