@font-face
  font-family 'HYQiHeiX1'
  src url('../fonts/HYQiHeiX1-35W.eot') /* IE9 */
  src url('../fonts/HYQiHeiX1-35W.eot?#iefix') format('embedded-opentype'), url('../fonts/HYQiHeiX1-35W.woff') format('woff'), url('../fonts/HYQiHeiX1-35W.ttf') format('truetype'), url('../fonts/HYQiHeiX1-35W.svg#HYQiHeiX1-35W') format('svg')
  font-style normal
  font-weight normal
@font-face
  font-family 'FZLTCHJW'
  src url('../fonts/FZLTCHJW.eot') /* IE9 */
  src url('../fonts/FZLTCHJW.eot?#iefix') format('embedded-opentype'), url('../fonts/FZLTCHJW.woff') format('woff'), url('../fonts/FZLTCHJW.ttf') format('truetype'), url('../fonts/FZLTCHJW.svg#FZLTCHJW') format('svg')
  font-style normal
  font-weight normal
