#about
  background url('../images/bg/bg_about.jpg') center bottom no-repeat
  background-size 100%
  .about-content
    text-align center
    padding-bottom 20vh
    section
      padding 2vh 0
      h2
        line-height 80px
        font-size 50px
        text-transform uppercase
        font-family 'HYQiHeiX1'
      h3
        line-height 80px
        font-size 40px
        color $mainColor
      article
        max-width 900px
        line-height 30px
        font-size 16px
        margin 0 auto
        p
          margin-bottom 15px
    .about-future
      >img
        margin 45px auto
        display block
      article
        max-width 900px
        line-height 30px
        font-size 16px
        color #868687
        margin 0 auto
        p
          margin-bottom 15px
    .about-commpany
      h3
        font-size 25px
      article
        color #444
        font-size 15px
#about-nav
  padding 5vh 0
  background #f6f6f6
  ul
    display flex
    justify-content space-between
    flex-wrap wrap
    li
      width 26%
      text-align center
      margin 10px 0
      a
        padding 25px 15px
        display block
        transition all 0.3s
        &:hover
          background white
          box-shadow 5px 5px 5px #dedede
      i
        width 90px
        height @width
        border 2px solid $mainColor
        border-radius 5px
        margin 25px auto
        transform rotate(45deg)
        display block
        img
          transform rotate(-45deg)
      span
        line-height 40px
        font-size 20px
        color $mainColor
        display block
      p
        color #a6a7a7
#shop
  .category-list
    margin-bottom 12vh
    ul
      text-align center
      margin 40px auto
      display flex
      &:hover
        li
          a
            box-shadow none !important
      li
        width 100%
        padding 5px
        a
          width 100%
          color black
          padding 15px
          border-radius 3px
          display block
          transition all 0.4s
          &.active
            box-shadow 4px 4px 12px #ddd
          &:hover
            box-shadow 4px 4px 12px #ddd !important
          div
            width 100%
            height 0
            padding-bottom 90%
            position relative
            img
              max-width 85%
              max-height 85%
              position absolute
              left 50%
              top 50%
              transform translate(-50%, -50%)
          h3:before
            content attr(entitle)
            line-height 40px
            font-size 25px
            color #686868
            text-transform capitalize
            display block
  .serve-list
    margin-bottom 12vh
    ul
      width 100%
      max-width 850px
      text-align center
      margin 40px auto
      display flex
      flex-wrap wrap
      justify-content space-around
      li
        width 30%
        padding 40px 0
        a
          width 100%
          color $mainColor
          display block
          &:before
            content ''
            width 100px
            height @width
            background url('../images/icon/ico_shop_serve.png') center no-repeat
            background-size 95%
            border 2px solid $mainColor
            border-radius 50%
            margin 15px auto
            display block
          &:hover
            color red
            &:before
              animation serveicon 0.6s linear
            h3:after
              color $mainColor
          h3
            font-size 20px
            font-weight bold
            &:after
              content attr(entitle)
              line-height 30px
              font-size 15px
              font-weight normal
              color #909090
              text-transform uppercase
              display block
  .channle-list
    margin-bottom 12vh
    ul
      width 100%
      display flex
      justify-content space-between
      flex-wrap wrap
      li
        width 30%
        padding 15px 0
        a
          width 100%
          text-align center
          padding 15px 0
          display block
          transition box-shadow 0.3s
          &:hover
            box-shadow 4px 4px 12px #ddd
            h3
              color white
              background-color $mainColor
              border-color $mainColor
              transform translateY(-50%)
          div
            width 100%
            height 0
            padding-bottom 100%
            position relative
            img
              max-width 85%
              max-height 85%
              position absolute
              left 50%
              top 50%
              transform translate(-50%, -50%)
          h3
            height 40px
            line-height @height - 2px
            font-size 21px
            color #111
            padding 0 30px
            border 1px solid #111111
            border-radius (@height / 2)
            display inline-block
            transition all 0.4s
@keyframes serveicon
  50%
    background-position -200px
  52%
    background-position -200px -200px
  55%
    background-position 200px -200px
  60%
    background-position 200px