/*
 * @Description: 文章页样式
 * @Author: yogwang
 * @Date: 2021-06-02 17:32:07
 * @Last Modified by: yogwang
 * @Last Modified time: 2021-06-02 21:15:41
 */
.archive-article-inner,
.article-inner {
  font-size: 15px;
}
.archive-article-inner header ul,
.article-inner header ul,
.archive-article-inner header li,
.article-inner header li {
  list-style-type: none;
  padding: 0;
  margin: 0 3px 0 0;
  display: flex;
}
.archive-article-inner header .article-tag-list::before,
.article-inner header .article-tag-list::before {
  content: 'Tags：';
  display: inline;
}
.archive-article-inner header .article-tag-list li,
.article-inner header .article-tag-list li {
  display: inline;
}
.archive-article-inner header .article-tag-list li+li::before,
.article-inner header .article-tag-list li+li::before {
  content: ',';
  margin: 0 3px;
  display: inline-block;
}
.archive-article-inner header .article-category,
.article-inner header .article-category {
  margin-left: auto;
}
.archive-article {
  padding: 3vh 15px 5px;
  border-top: 5px solid #404040;
  margin: 2vh 0 3vh;
}
.archive-article:first-child {
  padding-top: 15px;
  border-top: none;
}
.archive-article .archive-article-header-meta {
  font-size: 13px;
  color: #999;
  display: flex;
  justify-content: space-between;
}
.archive-article .archive-article-title {
  font-size: 22px;
  font-weight: normal;
  color: #222;
  margin: 5px 0 25px;
}
.archive-article .archive-article-title:hover {
  color: #f00;
}
.archive-article .archive-article-date {
  text-align: right;
}
.article-more-link {
  text-align: center;
}
.article-more-link a {
  line-height: 40px;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 1px solid currentColor;
  transition: padding 0.4s;
}
.article-more-link a:hover {
  padding: 5px 15px;
}
.article-inner .article-meta {
  color: #444;
  display: flex;
  justify-content: space-between;
}
.article-inner .article-meta .article-tag-list {
  font-size: 12px;
  color: #777;
}
.article-inner .article-header {
  color: #333;
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 3vh;
}
.article-inner .article-header .article-title {
  font-size: 24px;
  font-weight: normal;
  color: #222;
  margin-top: 1em;
  margin-bottom: 0;
}
.article-inner .article-header .article-updated {
  font-size: 13px;
  text-align: right;
  color: #777;
}
.article-inner .article-entry {
  position: relative;
}
.article-inner .article-entry #expired-tag {
  min-height: 35px;
  line-height: 35px;
  color: #7d6970;
  background: rgba(255,192,203,0.2);
  padding: 0 10px;
  border-radius: 5px;
  margin-bottom: 2vh;
}
.article-inner .article-entry #expired-tag:empty {
  display: none;
}
.article-inner .article-content table thead {
  color: #fff;
  background: #333;
}
.article-inner .article-content table thead tr {
  height: 50px;
}
.article-inner .article-content table thead tr th {
  padding: 0 15px;
}
.article-inner .article-content table tbody tr {
  height: 50px;
  border-bottom: 1px solid #333;
}
.article-inner .article-content table tbody tr td {
  padding: 0 15px;
}
