<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>unship</title>
        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,700,700italic,900,900italic,500italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <!-- Flaticon CSS -->
        <link href="fonts/flaticon/flaticon.css" rel="stylesheet">
        <!-- font-awesome CSS -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <!-- Offcanvas CSS -->
        <link href="css/off-canvas.css" rel="stylesheet">
        <!-- animate CSS -->
        <link href="css/animate.css" rel="stylesheet">
        <!-- language CSS -->
        <link href="css/language-select.css" rel="stylesheet">
        <!-- owl.carousel CSS -->
        <link href="owl.carousel/assets/owl.carousel.css" rel="stylesheet">
        <!-- magnific-popup -->
        <link href="css/magnific-popup.css" rel="stylesheet">
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Template Core Styles -->
        <link href="css/template.css" rel="stylesheet">
        <!-- Main Menu Styles -->
        <link href="css/menu.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/typography.css" rel="stylesheet">
        <!-- Responsive CSS -->
        <link href="css/responsive.css" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.1.min.js"></script>
        <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="js/vendor/html5shim.js"></script>
            <script src="js/vendor/respond.min.js"></script>
        <![endif]-->
    </head>


    <body id="page-top">
        <div id="st-container" class="st-container">
            <div class="st-pusher">
                <div class="st-content">
                    <header class="header">
                        <nav class="top-bar">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="call-to-action">
                                            <ul class="list-inline">
                                                <li><a href="#"><strong>1-800-987-654</strong></a></li>
                                                <li><a href="#">email@domain.com</a></li>
                                            </ul>
                                        </div><!-- /.call-to-action -->
                                    </div><!-- /.col-sm-6 -->

                                    <div class="col-sm-4 col-xs-12">
                                        <div class="logo text-center">
                                            <h1><a href="index.html"><img src="img/logo.png" alt=""></a><span>unship</span></h1>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 hidden-xs">
                                        <div class="topbar-right">
                                            <div class="lang-support pull-right">
                                                <select class="lang-select">
                                                    <option value="" disabled selected>Language</option>
                                                    <option value="united-kingdom" data-class="flag-uk">English</option>
                                                    <option value="france" data-class="flag-france">French</option>
                                                    <option value="spain" data-class="flag-spain">Spanish</option>
                                                    <option value="bangladesh" data-class="flag-bd">Bengali</option>
                                                </select>
                                            </div>

                                            <ul class="social-links list-inline pull-right">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                            </ul>
                                        </div><!-- /.social-links -->
                                    </div><!-- /.col-sm-6 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </nav><!-- /.top-bar -->

                        <div class="container mainnav">

                            <div class="navbar-header">
                                
                                <div id="search">
                                <button type="button" class="close">×</button>
                                <form>
                                    <input type="search" value="" placeholder="type keyword(s) here" />
                                    <button type="submit" class="btn btn-primary btn-lg">Search</button>
                                </form>
                                </div>
                            </div>
                            <nav class="navbar navbar-default" role="navigation">
                                    <span class="search-button visible-xs"><a href="#search"><i class="fa fa-search"></i></a></span>
                                    
                                    <!-- offcanvas-trigger -->
                                        <button type="button" class="navbar-toggle collapsed" >
                                          <span class="sr-only">Toggle navigation</span>
                                          <i class="fa fa-bars"></i>
                                        </button>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse navbar-collapse">

                                        <span class="search-button pull-right"><a href="#search"><i class="fa fa-search"></i></a></span>

                                        <ul class="nav navbar-nav hidden-sm">
                                            <li ><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About</a></li>

                                           <!-- Services -->
                                                <li class="dropdown"><a href="#">Services <b class="caret"></b></a>
                                                    <!-- submenu-wrapper -->
                                                    <div class="submenu-wrapper submenu-wrapper-topbottom">
                                                        <div class="submenu-inner  submenu-inner-topbottom">
                                                            <ul class="dropdown-menu">
                                                                <li><a href="service.html">Service</a></li>
                                                                <li><a href="service-single.html">Single Service</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- /submenu-wrapper -->
                                                </li>
                                            <!-- /Services -->

                                            <!-- Blog -->
                                                <li class="dropdown"><a href="#">Blog <b class="caret"></b></a>
                                                    <!-- submenu-wrapper -->
                                                    <div class="submenu-wrapper submenu-wrapper-topbottom">
                                                        <div class="submenu-inner  submenu-inner-topbottom">
                                                            <ul class="dropdown-menu">
                                                                <li><a href="blog.html">Blog standard</a></li>
                                                                <li><a href="blog-single.html">Single blog</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- /submenu-wrapper -->
                                                </li>
                                            <!-- /Blog -->
                                            <li><a href="contact.html">Contact</a></li>
                                            <li class="active"><a href="typography.html">Typography</a></li>
                                        </ul>
                                    </div><!-- /.navbar-collapse -->
                                    
                            </nav>
                        </div><!-- /.container -->

                        <!-- Page-title -->
                        <section class="page-title-section">
                            <div class="container">
                                <div class="page-header">
                                  <h1>Typography</h1>
                                </div>

                                <ol class="breadcrumb">
                                  <li><a href="#">Home</a></li>
                                  <li class="active">Typography</li>
                                </ol>
                            </div>
                        </section><!--/.page-title-section -->

                    </header>
                    <!-- HEADER -->
                    
                   <section class="section-padding">
                        <div class="container">
                            
                            <div class="typography-page-wrapper">
                                <h1>H1 Heading</h1>
                                <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
                                <br>
                                <h2>H2 Heading</h2>
                                <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
                                <br>
                                <h3>H3 Heading</h3>
                                <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
                                <br>
                                <h4>H4 Heading</h4>
                                <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
                                <br>
                                <h5>H5 Heading</h5>
                                <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
                                <br>
                                <h6>H6 Heading</h6>
                                <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
                                <br>

                                <section class="page-title-section">
                                    <div class="container">
                                        <div class="page-header">
                                            <h1>Page Title</h1>
                                        </div>

                                        <ol class="breadcrumb">
                                            <li><a href="#">Home</a></li>
                                            <li class="active">Blog</li>
                                        </ol>
                                    </div>
                                </section>
                                <br>
<pre>
    &lt;section class="page-title-section"&gt;
        &lt;div class="container"&gt;
            &lt;div class="page-header"&gt;
               &lt;h1&gt;Page Title&lt;&#47;h1&gt;
            &lt;&#47;div&gt;

            &lt;ol class="breadcrumb"&gt;
                &lt;li&lt;&#47;&lt;a href="#"&gt;SHome&lt;&#47;a&gt;&lt;&#47;li&gt;
                &lt;li class="active"&gt;Blog&lt;&#47;li&gt;
            &lt;&#47;ol&lt;&#47;
        &lt;&#47;div&lt;&#47;
    &lt;&#47;section&gt;

</pre>
                                <br>
                               <div class="section-heading">
                                    <h2>Section Heading</h2>
                                    <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede. Felis vel tincidunt wisi elit quis vestibulum Curabitur iaculis consequat Proin. Vitae Pellentesque elit interdum.</p>
                                </div>
                                <br>
<pre>
    &lt;div class="section-heading"&gt;
        &lt;h2&gt;Section Heading&lt;&#47;h2&gt;
    &lt;&#47;div&gt;
</pre>
                                <br>

                                <div class="entry-header clearfix">
                                    <h2 class="entry-title"><a href="#" rel="">Blog Post Heading</a></h2>
                                     <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
                                </div>
                                <br>  
<pre>
    &lt;div class="entry-header"&gt;
        &lt;h2 class="entry-title"&gt;&lt;a href="#" rel=""&gt;Blog Post Heading&gt;&lt;a&gt;&lt;&#47;h2&gt;
    &lt;&#47;div&gt;
</pre> 
                                <br>

                                <h2>Blockquote</h2>
                                <br>
                                <blockquote><p>Synergistically grow optimal total linkage after best-of-breed channels. Continually redefine B2C methodologies after equity invested channels. Dramatically drive just in time bandwidth rather than enterprise potentialities.</p></blockquote>
                                <br>
<pre>
    &lt;blockquote&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.  
     &lt;/blockquote&gt;
 </pre>
                                
                                <br>

                                <h2>List Style</h2>
                                <div class="row ">
                                    <div class="col-md-3">
                                        <pre>ul class="check-square"</pre>
                                        <ul class="check-square">
                                            <li>List Style</li>
                                            <li>List Style</li>
                                            <li>List Style</li>
                                            <li>List Style</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <pre>ul class="check-square-o"</pre>
                                        <ul class="check-square-o">
                                            <li>List Style</li>
                                            <li>List Style</li>
                                            <li>List Style</li>
                                            <li>List Style</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <pre>ul class="check"</pre>
                                        <ul class="check">
                                            <li>List Style</li>
                                            <li>List Style</li>
                                            <li>List Style</li>
                                            <li>List Style</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <pre>ul class="check-circle"</pre>
                                        <ul class="check-circle">
                                            <li>List Style</li>
                                            <li>List Style</li>
                                            <li>List Style</li>
                                            <li>List Style</li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <br>

                                <div class="row">
                                    <div class="col-md-7 button-style">
                                        <h2>Button Style</h2>
                                        <br>
                                                                            
                                        <button type="button" class="btn btn-default">Default button</button>
                                        <button type="button" class="btn btn-danger">Button danger</button>                                     
                                        <button type="button" class="btn btn-success">Button success</button> 
                                        <br>
                                        <br>                                      
                                        <button type="button" class="btn btn-warning">Button warning</button>
                                        <button type="button" class="btn btn-info">Button info</button> 
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-primary btn-lg">Large button <i class="fa fa-long-arrow-right"></i></button>   
                                        <button type="button" class="btn btn-primary">Primary button<i class="fa fa-long-arrow-right"></i></button>
                                        <br>
                                        <br>

                                    </div><!-- /.col-md-7 -->


                                    <div class="col-md-5 tab-style">
                                        <h2>Tab</h2>
                                        <br>
                                        <div class="typography-page-tab" role="tabpanel">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher keffiyeh dreamcatcher synth.</p>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="profile">
                                                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation labore velit, blog sartorial leggings next level wes anderson artisan four loko farm-to-table craft beer culpa terry richardson biodiesel</p>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="messages">
                                                    <p>Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum. Homo nostrud organic, assumenda labore ethical culpa terry richardson biodiesel ethical culpa terry richardson biodiesel.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.row -->
                                <hr>
                                <br>

                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Form</h2>
                                        <br>

                                        <form>
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-12">
                                                  <div class="form-group">
                                                    <label for="exampleInputName2">Name*</label>
                                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="">
                                                  </div>
                                                </div><!-- /.col -->
                                                <div class="col-sm-4 col-xs-12">
                                                  <div class="form-group">
                                                    <label for="exampleInputEmail2">E-mail*</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                                                  </div>
                                                </div><!-- /.col -->
                                                <div class="col-sm-4 col-xs-12">
                                                  <div class="form-group">
                                                    <label for="exampleInputWebsite2">Website</label>
                                                    <input type="url" class="form-control" id="exampleInputWebsite2" placeholder="">
                                                  </div>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-12">
                                                  <div class="form-group">
                                                    <label for="exampleInputOrganization2">Organization</label>
                                                    <input type="text" class="form-control" id="exampleInputOrganization2" placeholder="">
                                                  </div>
                                                </div><!-- /.col -->
                                                <div class="col-sm-4 col-xs-12">
                                                  <div class="form-group">
                                                    <label for="exampleInputPosition2">Position</label>
                                                    <input type="text" class="form-control" id="exampleInputPosition2" placeholder="">
                                                  </div>
                                                </div><!-- /.col -->
                                                <div class="col-sm-4 col-xs-12">
                                                  <div class="form-group">
                                                    <label for="exampleInputCountry2">Country</label>
                                                    <input type="text" class="form-control" id="exampleInputCountry2" placeholder="">
                                                  </div>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="exampleInputMessage">Message</label>
                                                        <textarea class="form-control" rows="6" id="exampleInputMessage" placeholder=""></textarea>
                                                    </div>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->

                                            <div class="form-group submit-btn">
                                                <button type="submit" class="btn btn-primary">Send feedback</button>
                                            </div>
                                        </form>
                                        <br>
                                        <br>
<pre>
                                            
    &lt;form&gt;
        &lt;div class="row"&gt;
            &lt;div class="col-sm-4 col-xs-12"&gt;
              &lt;div class="form-group"&gt;
                &lt;label for="exampleInputName2"&gt;Name*&lt;&#47;label&gt;
                &lt;input type="text" class="form-control" id="exampleInputName2" placeholder=""&gt;
              &lt;&#47;div&gt;
           &lt;&#47;div&gt;
           &lt;div class="col-sm-4 col-xs-12"&gt;----&lt;&#47;div&gt;
           &lt;div class="col-sm-4 col-xs-12"&gt;----&lt;&#47;div&gt;
           
        &lt;&#47;div&gt;

       
        &lt;div class="row"&gt;
            &lt;div class="col-xs-12"&gt;
                &lt;div class="form-group"&gt;
                    &lt;label for="exampleInputMessage">Message&lt;&#47;label&gt; 
                    &lt;textarea class="form-control" rows="6"
                    id="exampleInputMessage" placeholder=""&lt;&#47;
                    textarea&gt;
               &lt;&#47;div&gt;
            &lt;&#47;div&gt;
       &lt;&#47;div&gt;
       &lt;div class="form-group submit-btn"&gt;
            &lt;button type="submit" class="btn btn-primary">Send feedback&lt;&#47;button&gt;
        &lt;&#47;div&gt;
    &lt;&#47;form&gt;
</pre>
                                    </div>

                                </div>
                            </div><!-- /.typography-page-wrapper -->
                           
                         </div><!-- /.container -->
                   </section>
    

                    <!-- footer-widget-section start -->
                    <section class="footer-widget-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h3>About</h3>
                                        <p>
                                            Credibly build virtual materials for fully researched paradigms. Authoritatively plagiarize long-term high-impact infomediaries.
                                        </p>
                                        <br>

                                        <address>
                                          <strong>(554) 616 9926</strong>
                                          <br>
                                          <a href="#">example@yahoo.com</a>
                                          <br>
                                          <br>
                                          <span class="map-marker">384 Maple Circle<br>Simi Valley Nevada, 24757</span>
                                        </address>

                                        
                                    </div><!-- /.footer-widget -->
                                </div><!-- /.col-sm-4 -->

                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h3>Useful Links</h3>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <ul class="quick-links">
                                                    <li><a href="about.html">About us</a></li>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="#">Career</a></li>
                                                    <li><a href="#">Staffs</a></li>
                                                    <li><a href="#">News</a></li>
                                                    <li><a href="#">Support</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul class="quick-links">
                                                    <li><a href="#">Forum</a></li>
                                                    <li><a href="#">Schedules</a></li>
                                                    <li><a href="#">Projects</a></li>
                                                    <li><a href="#">Partners</a></li>
                                                    <li><a href="#">Cargo</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- /.footer-widget -->
                                </div><!-- /.col-md-4 -->

                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h3>Stay in Touch</h3>
                                        <p>Enter your email address to receive news &amp; offers from us</p>

                                        <form class="newsletter-form">
                                            <div class="form-group">
                                                <label class="sr-only" for="InputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="InputEmail1" placeholder="Your email address">
                                                <button type="submit" class="btn">Send &nbsp;<i class="fa fa-angle-right"></i></button>
                                            </div>
                                        </form>     
                                        <ul class="social-links list-inline">
                                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>                       
                                    </div><!-- /.footer-widget -->
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section><!-- /.cta-section -->
                    <!-- footer-widget-section end -->

                    <!-- copyright-section start -->
                    <footer class="copyright-section">
                        <div class="container">
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="#">Privacy &amp; Cookies</a></li>
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Accessibility</a></li>
                                </ul>
                            </div>

                            <div class="copyright-info">
                                <span>Copyright &copy; 2018.Company name All rights reserved.</span>
                            </div>
                        </div><!-- /.container -->
                    </footer>
                    <!-- copyright-section end -->
                </div> <!-- .st-content -->
            </div> <!-- .st-pusher -->

           <!-- OFFCANVAS MENU -->
            <div class="offcanvas-menu offcanvas-effect">
                <div class="offcanvas-wrap">
                    <div class="off-canvas-header">
                        <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
                    </div>
                    <ul id ="offcanvasMenu" class="list-unstyled visible-xs visible-sm">
                        <li class="active"><a href="index.html">Home<span class="sr-only">(current)</span></a></li>
                        <li><a href="about.html">About</a></li>
                        <li>
                            <a href="#">Services</a>
                            <ul>
                                <li>
                                    <a href="service.html">Service</a>
                                </li>
                                <li>
                                    <a href="service-single.html">Single service</a>
                                </li>
                            </ul>

                        </li>
                        <li><a href="#">Blog</a>
                            <ul>
                                <li>
                                    <a href="blog.html">Blog Standard</a>
                                </li>
                                <li>
                                    <a href="blog-single.html">Single blog</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="typography.html">Typography</a></li>
                    </ul>
                    <div class="offcanvas-widgets hidden-sm hidden-xs">
                        <div id="twitterWidget">
                            <h2>Tweeter feed</h2>                       
                            <div class="twitter-widget"></div>
                        </div>
                        <div class="newsletter-widget">
                            <h2>Stay in Touch</h2>
                            <p>Enter your email address to receive news &amp; offers from us</p>

                            <form class="newsletter-form">
                                <div class="form-group">
                                    <label class="sr-only" for="InputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="InputEmail2" placeholder="Your email address">
                                    <button type="submit" class="btn">Send &nbsp;<i class="fa fa-angle-right"></i></button>
                                </div>
                            </form>     
                                                
                        </div><!-- newsletter-widget -->
                    </div>

                </div>
            </div><!-- .offcanvas-menu -->
        </div><!-- /st-container -->


        <!-- Preloader -->
        <div id="preloader">
            <div id="status">
                <div class="status-mes"></div>
            </div>
        </div>


        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Scrolling Nav JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <!-- owl.carousel -->
        <script src="owl.carousel/owl.carousel.min.js"></script>
        <!-- Magnific-popup -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- Offcanvas Menu -->
        <script src="js/hippo-offcanvas.js"></script>
        <!-- stellar -->
        <script src="js/jquery.stellar.js"></script>
        <!-- classie -->
        <script src="js/classie.js"></script>
        <!-- selectFx -->
        <script src="js/selectFx.js"></script>
        <!-- sticky kit -->
        <script src="js/jquery.sticky-kit.min.js"></script>
        <!-- Twitter feed -->
        <script src="js/twitterFetcher_min.js"></script>
        <!-- Custom Script -->
        <script src="js/scripts.js"></script>

    </body>
</html>
