html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Microsoft Yahei', Arial;
  font-size: 14px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.container {
  max-width: 1200px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  width: 100%;
  height: 30px;
  background: #2878d2;
  position: relative;
}
header .container {
  height: 30px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
}
header .header-logo {
  max-height: 22px;
}
header .header-logo img {
  max-height: inherit;
  vertical-align: top;
}
header .header-lang {
  font-size: 13px;
  color: #fff;
  display: flex;
}
header .header-lang a {
  line-height: 20px;
  color: #fff;
  display: block;
}
header .header-lang a:hover {
  text-decoration: underline;
}
header .header-lang a img {
  width: 25px;
  height: 20px;
  margin: 0 5px 0 10px;
  display: inline-block;
  vertical-align: top;
}
header .header-navbar {
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
}
header .header-navbar nav {
  width: 100%;
  height: 40px;
  max-width: 1200px;
  font-size: 16px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-navbar nav a {
  color: #333;
  text-shadow: 0 0 0 transparent;
  filter: drop-shadow(#fff 1px 1px);
  display: block;
  transition: all 0.3s;
}
header .header-navbar nav a+a {
  margin-left: 10px;
}
header .header-navbar nav a:hover {
  text-shadow: 5px 3px 2px rgba(40,120,210,0.7);
  transform: translate(-2px, -2px);
}
#main {
  width: 100%;
}
#main .banner {
  width: 100%;
  background: #fff;
}
#main .banner img {
  width: 100%;
  max-width: 100%;
}
#main #breadcrumb {
  padding: 4vh 0;
}
#main #breadcrumb ul {
  display: flex;
}
#main #breadcrumb ul li {
  line-height: 18px;
  color: #a4a2a3;
}
#main #breadcrumb ul li:before {
  content: '';
  width: 18px;
  height: 18px;
  background: url("../images/icon/ico_right.svg") center no-repeat;
  background-size: 18px;
  margin: 0 3px;
  display: inline-block;
  vertical-align: top;
}
#main #breadcrumb ul li:first-child:before {
  background-image: url("../images/icon/ico_mapmark.svg");
  margin-left: 0;
}
#main .main-title {
  text-align: center;
}
#main .main-title h2 {
  font-size: 30px;
  font-weight: normal;
  order: 2;
}
#main .main-title h2:after {
  content: '';
  width: 30px;
  height: 4px;
  background: #2878d2;
  margin: 15px auto;
  display: block;
}
#main .main-title h4 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 15px auto;
}
#main .main-title h4:before,
#main .main-title h4:after {
  content: '/';
  margin: 0 25px;
  display: inline-block;
}
footer {
  width: 100%;
  line-height: 35px;
  color: #999;
  text-align: center;
  background: #282828;
}
footer a {
  color: inherit;
}
footer a+a {
  margin-left: 5px;
}
footer a:hover {
  color: #f00;
}
footer .container .row {
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0;
}
footer .container .row .footer-contact {
  text-align: left;
}
footer .container .row .footer-contact h2 {
  font-size: 2.5vh;
  color: #2878d2;
  font-family: 'FZLTCHJW';
  padding-left: calc(3.5vh + 15px);
  margin-bottom: 15px;
  position: relative;
}
footer .container .row .footer-contact h2:before {
  content: '';
  width: 4vh;
  height: 4vh;
  background: url("../images/icon/ico_phone.png") center no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
footer .container .row .footer-contact h2:after {
  content: attr(alt);
  font-size: 1vh;
  text-transform: uppercase;
  display: block;
}
footer .container .row .footer-contact ul {
  font-size: 15px;
  line-height: 20px;
}
footer .container .row .footer-nav ul {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
footer .container .row .footer-nav ul ol {
  line-height: 25px;
  font-size: 15px;
  font-weight: normal;
}
footer .container .row .footer-follow ul {
  display: flex;
  justify-content: center;
}
footer .container .row .footer-follow ul li {
  padding: 5px;
}
footer .container .row .footer-follow ul li img {
  width: 90px;
  height: 90px;
}
footer .copyright {
  background: #0d0c0c;
}
#about {
  background: url("../images/bg/bg_about.jpg") center bottom no-repeat;
  background-size: 100%;
}
#about .about-content {
  text-align: center;
  padding-bottom: 20vh;
}
#about .about-content section {
  padding: 2vh 0;
}
#about .about-content section h2 {
  line-height: 80px;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'HYQiHeiX1';
}
#about .about-content section h3 {
  line-height: 80px;
  font-size: 40px;
  color: #2878d2;
}
#about .about-content section article {
  max-width: 900px;
  line-height: 30px;
  font-size: 16px;
  margin: 0 auto;
}
#about .about-content section article p {
  margin-bottom: 15px;
}
#about .about-content .about-future >img {
  margin: 45px auto;
  display: block;
}
#about .about-content .about-future article {
  max-width: 900px;
  line-height: 30px;
  font-size: 16px;
  color: #868687;
  margin: 0 auto;
}
#about .about-content .about-future article p {
  margin-bottom: 15px;
}
#about .about-content .about-commpany h3 {
  font-size: 25px;
}
#about .about-content .about-commpany article {
  color: #444;
  font-size: 15px;
}
#about-nav {
  padding: 5vh 0;
  background: #f6f6f6;
}
#about-nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#about-nav ul li {
  width: 26%;
  text-align: center;
  margin: 10px 0;
}
#about-nav ul li a {
  padding: 25px 15px;
  display: block;
  transition: all 0.3s;
}
#about-nav ul li a:hover {
  background: #fff;
  box-shadow: 5px 5px 5px #dedede;
}
#about-nav ul li i {
  width: 90px;
  height: 90px;
  border: 2px solid #2878d2;
  border-radius: 5px;
  margin: 25px auto;
  transform: rotate(45deg);
  display: block;
}
#about-nav ul li i img {
  transform: rotate(-45deg);
}
#about-nav ul li span {
  line-height: 40px;
  font-size: 20px;
  color: #2878d2;
  display: block;
}
#about-nav ul li p {
  color: #a6a7a7;
}
#shop .category-list {
  margin-bottom: 12vh;
}
#shop .category-list ul {
  text-align: center;
  margin: 40px auto;
  display: flex;
}
#shop .category-list ul:hover li a {
  box-shadow: none !important;
}
#shop .category-list ul li {
  width: 100%;
  padding: 5px;
}
#shop .category-list ul li a {
  width: 100%;
  color: #000;
  padding: 15px;
  border-radius: 3px;
  display: block;
  transition: all 0.4s;
}
#shop .category-list ul li a.active {
  box-shadow: 4px 4px 12px #ddd;
}
#shop .category-list ul li a:hover {
  box-shadow: 4px 4px 12px #ddd !important;
}
#shop .category-list ul li a div {
  width: 100%;
  height: 0;
  padding-bottom: 90%;
  position: relative;
}
#shop .category-list ul li a div img {
  max-width: 85%;
  max-height: 85%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#shop .category-list ul li a h3:before {
  content: attr(entitle);
  line-height: 40px;
  font-size: 25px;
  color: #686868;
  text-transform: capitalize;
  display: block;
}
#shop .serve-list {
  margin-bottom: 12vh;
}
#shop .serve-list ul {
  width: 100%;
  max-width: 850px;
  text-align: center;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#shop .serve-list ul li {
  width: 30%;
  padding: 40px 0;
}
#shop .serve-list ul li a {
  width: 100%;
  color: #2878d2;
  display: block;
}
#shop .serve-list ul li a:before {
  content: '';
  width: 100px;
  height: 100px;
  background: url("../images/icon/ico_shop_serve.png") center no-repeat;
  background-size: 95%;
  border: 2px solid #2878d2;
  border-radius: 50%;
  margin: 15px auto;
  display: block;
}
#shop .serve-list ul li a:hover {
  color: #f00;
}
#shop .serve-list ul li a:hover:before {
  animation: serveicon 0.6s linear;
}
#shop .serve-list ul li a:hover h3:after {
  color: #2878d2;
}
#shop .serve-list ul li a h3 {
  font-size: 20px;
  font-weight: bold;
}
#shop .serve-list ul li a h3:after {
  content: attr(entitle);
  line-height: 30px;
  font-size: 15px;
  font-weight: normal;
  color: #909090;
  text-transform: uppercase;
  display: block;
}
#shop .channle-list {
  margin-bottom: 12vh;
}
#shop .channle-list ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#shop .channle-list ul li {
  width: 30%;
  padding: 15px 0;
}
#shop .channle-list ul li a {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  display: block;
  transition: box-shadow 0.3s;
}
#shop .channle-list ul li a:hover {
  box-shadow: 4px 4px 12px #ddd;
}
#shop .channle-list ul li a:hover h3 {
  color: #fff;
  background-color: #2878d2;
  border-color: #2878d2;
  transform: translateY(-50%);
}
#shop .channle-list ul li a div {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
#shop .channle-list ul li a div img {
  max-width: 85%;
  max-height: 85%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#shop .channle-list ul li a h3 {
  height: 40px;
  line-height: 38px;
  font-size: 21px;
  color: #111;
  padding: 0 30px;
  border: 1px solid #111;
  border-radius: 20px;
  display: inline-block;
  transition: all 0.4s;
}
@-moz-keyframes serveicon {
  50% {
    background-position: -200px;
  }
  52% {
    background-position: -200px -200px;
  }
  55% {
    background-position: 200px -200px;
  }
  60% {
    background-position: 200px;
  }
}
@-webkit-keyframes serveicon {
  50% {
    background-position: -200px;
  }
  52% {
    background-position: -200px -200px;
  }
  55% {
    background-position: 200px -200px;
  }
  60% {
    background-position: 200px;
  }
}
@-o-keyframes serveicon {
  50% {
    background-position: -200px;
  }
  52% {
    background-position: -200px -200px;
  }
  55% {
    background-position: 200px -200px;
  }
  60% {
    background-position: 200px;
  }
}
@keyframes serveicon {
  50% {
    background-position: -200px;
  }
  52% {
    background-position: -200px -200px;
  }
  55% {
    background-position: 200px -200px;
  }
  60% {
    background-position: 200px;
  }
}
@font-face {
  font-family: 'HYQiHeiX1';
  src: url("../fonts/HYQiHeiX1-35W.eot") /* IE9 */;
  src: url("../fonts/HYQiHeiX1-35W.eot?#iefix") format('embedded-opentype'), url("../fonts/HYQiHeiX1-35W.woff") format('woff'), url("../fonts/HYQiHeiX1-35W.ttf") format('truetype'), url("../fonts/HYQiHeiX1-35W.svg#HYQiHeiX1-35W") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'FZLTCHJW';
  src: url("../fonts/FZLTCHJW.eot") /* IE9 */;
  src: url("../fonts/FZLTCHJW.eot?#iefix") format('embedded-opentype'), url("../fonts/FZLTCHJW.woff") format('woff'), url("../fonts/FZLTCHJW.ttf") format('truetype'), url("../fonts/FZLTCHJW.svg#FZLTCHJW") format('svg');
  font-style: normal;
  font-weight: normal;
}
